@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

:root {
  --brand-gradient: linear-gradient(to right, #f97316, #ec4899, #8b5cf6);
}

.brand-gradient {
  background-image: var(--brand-gradient);
}
